h2 {
    color: #888;
    font-weight:bold;
    font-size:16px;
}
.container {
    /*padding-right: 1rem;*/
    /*padding-left: 1rem;*/
    margin-right: auto;
    margin-left: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 96%;
}
/*.hideHead {*/
    /*height: 122px;*/
/*}*/

.htmlFontSize {
    -webkit-text-size-adjust: none;
    font-size: 16px;
}


@media (min-width: 320px) {
    .htmlFontSize {
        -webkit-text-size-adjust: none;
        font-size: 12px;
    }

}

@media (min-width: 375px) {
    .htmlFontSize {
        -webkit-text-size-adjust: none;
        font-size: 14px;
    }
}

@media (min-width: 414px) {
    .htmlFontSize {
        -webkit-text-size-adjust: none;
        font-size: 16px;
    }
}

@media only screen and (min-width: 1000px) {
    .htmlFontSize {
        -webkit-text-size-adjust: none;
        font-size: 16px;
    }
}
@media only screen and (min-width: 1052px) {
    .htmlFontSize {
        -webkit-text-size-adjust: none;
        font-size: 16px;
    }
    .container {
        width:1050px;
    }
}
ul.succpath-list li {
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    color: #000;
}
.succpath-list {

    margin-bottom: 2rem;
    margin-left: 5rem;
    /*top: 4rem;*/
    /*position: relative;*/

}
ul.succpath-list li.act {
    color: #ff7105;
}
.prolastTable2 th, .prolastTable2 td {
    padding: .18rem 0;
}

.prolastTable th {
    color: #888;
}
.prolastTable th, .prolastTable td {
    border: .02rem solid #ddd;
    text-align: center;
    padding: .1rem 0;
}
.prolastTable {
    margin: .3rem 0;
}
h3{
    color: #000;
}
.succCaseDetail{
    /*position: relative;*/
    /*top: 4rem;*/
}
.top4{
    position: relative;
    top: 4rem;
    border-left:1px #EEEEEE solid;
    border-right:1px #EEEEEE solid;
}
.succCaseDetail li {
    flex: none;
    width: 20rem;
    border: 1px #eeeeee solid;
    list-style: none;
    /*height: 11rem;*/
    text-align: center;
    position: relative;
    margin: .5rem .5rem;
    flex-shrink: 1;

}
.succCaseDetail li:hover {
    border: 1px red solid;
    text-decoration: underline;

}
.succCaseDetail ul {
    margin: 0 0;
    padding: 0 0;
    flex-flow: row wrap;
    justify-content: space-around;
    display: flex;

}
section img {
    flex: none;
    width: 5rem;
    height: 5rem;
    left: 1rem;
    position: relative;
    border-radius: 100%;
    top: 1rem;
    flex-shrink: 1;
    /*border: 1px #eee solid;*/
}

.content {
    position: relative;
    flex: none;
    width: 12.2rem;
    height: 6.2rem;
    margin: .4rem;
    overflow: hidden;
    flex-shrink: 1;
    font-size: 14px;
}

.content p {
    margin: 0.4rem 0.4rem;
    color: red;
}

.desc {
    font-size: 0.75rem;
}
section .c {
    flex-flow: row nowrap;
    justify-content: space-around;
    display: flex;
    align-items: flex-start;
}
section li a {
    color: #1B242F;
    text-decoration: none;
}