<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="pc/common/common :: commonHeader(~{::title},~{::link},~{::script})">
    <title>关于我们 - 代练世界</title>
    <link href="/css/pc/sepcification.css" rel="stylesheet"/>
    <script src="/js/pc/specification.js"></script>
</head>

<body>
<!-- Header Starts Here -->
<div th:replace="pc/common/common::commonNav"></div>
<!-- Header Ends Here -->
<div>
    <div class="span3">
        <ul class="nav nav-list affix sidebar_new">
            <li id="navig" style="left: 8%;">
                导航
            </li>
            <li>
                <a href="#one">一、服务内容</a>
            </li>

            <li>
                <a href="#two">二、主旨</a>
            </li>
            <li>
                <a href="#three">三、代练世界特色</a>
            </li>
            <li>
                <a href="#four">四、关于我们</a>
            </li>
        </ul>
    </div>
    <div class="right-bar" style="z-index: -1;top: 130px;">
        <h2>
            <a name='one' style='position:relative; top:-200px;'>&nbsp;</a>
            一、服务内容</h2>
        <div class="answer">
            <div class="title2">
                <span>平台包含（不限于）英雄联盟lol，王者荣耀，绝地求生,地下城与勇士,球球大作战等众多热门游戏的代练交易服务，发布需求只需三部，简单，安全，优惠。</span>
            </div>
        </div>
        <h2><a name='two' style='position:relative; top:-200px;'>&nbsp;</a>
            二、主旨</h2>
        <div class="answer">
            <div class="title2">
                <span>让玩家和代练更安全，更实惠，更方便的进行交易。为玩家避免线下代练市场的价格不透明，交易不可靠，订单不可追踪等各方面的麻烦和痛苦，玩家只要在本平台填写相关需求，坐等交易完成即可。本平台将实时跟踪订单，保证订单的有效执行和资金安全。为代练和玩家降低了门槛，方便大家的交易。平台还有大量活动进行中，最高可享受80%的收益分红</span>
            </div>
        </div>
        <h2><a name='three' style='position:relative; top:-200px;'>&nbsp;</a>
            三、代练世界特色</h2>
        <div class="answer">
            <div class="title2">
                <h3>价格优惠:</h3>
                <span>各大平台中价格最优惠的，不收取玩家的任何费用，只收取代练的极小数手续费，平均手续费为3.5元，还有大量大力度的活动进行中。PS:如有人联系收取任何费用，都是骗子，谨防诈骗。</span>
            </div>
            <div class="title2">
                <h3>自定义押金:</h3>
                <span>玩家可自由选择单子的保证金，可多可少，无限制；代练也可自由选择自己能接受的需求单。针对于部分代练有实力但无资金充当保证金，平台也会有保证金较低，赏金较高的需求单等你来接，无需较大押金，押金最少只需5元。</span>
            </div>
            <div class="title2">
                <h3>订单追踪:</h3>
                <span>平台中的所有订单都可实时追踪，解决线下交易出现外单和其他纠纷的资料缺失问题。</span>
            </div>
            <div class="title2">
                <h3>服务保障:</h3>
                <span>服务主旨是让用户享受体验交易，任何纠纷都由平台来跟进追踪。</span>
            </div>
            <div class="title2">
                <h3>储备力量:</h3>
                <span>平台内部与大量优质的代练工作室合作，以用户利益为重。</span>
            </div>
        </div>
        <h2><a name='four' style='position:relative; top:-200px;'>&nbsp;</a>四、关于我们</h2>
        <div class="answer">
            <div class="title2">
                <span>本平台由静大空间科技有限公司开发。公司在发展上秉承先人后企、以人为本的理念，在诚信的基础上建立与用户、投资方等多方合作者之间最为融洽的合作关系。“诚”代表了公司在合作关系中所坚持的诚意态度，而“信”则代表了公司以“信用”为根本的发展信条。可以说，“诚信”既是公司的行为准则，同时也是公司的道德规范。</span>
            </div>
        </div>
        <br/>
        <br/>
        <!-- End of Cards_Wrap Main --> </div>
</div>
</body>
</html>