<!DOCTYPE HTML>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="pc/common/common :: commonHeader(~{::title},~{},~{::script})">
    <title>联系我们 - 代练世界</title>
    <script src="/js/pc/contact.js"></script>
    <!-- Custom Theme files -->
    <!-- Custom Theme files -->
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Google Fonts -->
    <!--<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>-->
</head>
<body>
<!-- Header Starts Here -->
<div th:replace="pc/common/common::commonNav"></div>
<!-- Header Ends Here -->
<!-- Games Page Starts here -->
<div class="games" style="position:relative;top: 100px;">
    <div class="container">
        <div class="page-path">
            <ul class="path-list">
                <li><a href="/" title="首页_代练_英雄联盟_lol_王者荣耀_绝地求生_刺激战场-代练世界">首页</a></li>
                &nbsp;&nbsp;/&nbsp;&nbsp;
                <li class="act">关于我们</li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="contact">
            <h3 class="page-header">联系我们
                <a target="_blank"
                   href="http://shang.qq.com/wpa/qunwpa?idkey=3309885e1b76e92ffd9818456f8afbc66ef251d117cc0bf96f99c3329296b262">
                    <img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="官方QQ群_客服_代练世界" title="官方QQ群_客服_代练世界"/>
                </a>
            </h3>
            <div class="map">
                <iframe src="https://j.map.baidu.com/F2e72"
                        frameborder="0" style="border:0"></iframe>
            </div>
            <div class="contact-box">
                <div class="text">
                    <input type="text" placeholder="姓名" id="name" required=""/>
                    <input type="text" placeholder="邮箱" id="email" required=""/>
                </div>
                <div class="text">
                    <textarea placeholder="内容描述" required="" id="content"></textarea>
                </div>
                <div class="text-but">
                    <input type="submit" onclick="submitContent()" value="提交"/>
                </div>
            </div>
            <div class="address-box">
                <h3 class="page-header">关于我们</h3>
                <h5>代练世界是由静大空间科技有限公司打造的一款集成英雄联盟lol，王者荣耀，绝地求生等众多热门游戏的代练交易平台。</h5>
                <p>主旨是让玩家和代练更安全，更实惠，更方便的进行交易。为玩家避免线下代练市场的价格不透明，交易不可靠，
                    订单不可追踪等各方面的麻烦和痛苦，玩家只要在本平台填写相关需求，坐等交易完成即可。
                    本平台将实时跟踪订单，保证订单的有效执行和资金安全。</p>
                <p>
                    玩家可自由选择需求的价格，代练也可自由选择自己能接受的需求单，无需较大押金，押金最少只需5元。
                    为代练和玩家降低了门槛，方便大家的交易。平台目前还有大量活动进行中，最高可享受80%的收益分红。</p>
                <a href="mailto:jingdakongjian@sina.com">jingdakongjian@sina.com</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</body>
</html>