<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="pc/common/common :: commonHeader(~{::title},~{::link},~{::script})">
    <title>代练世界 - 专业的游戏代练代打平台官网</title>
    <!-- Custom Theme files -->
    <link href="/css/pc/index.css" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <script type="text/javascript" src="/js/pc/jquery.mixitup.min.js"></script>

</head>
<body>
<!-- Header Starts Here -->
<div th:replace="pc/common/common::commonNav"></div>
<!-- Header Ends Here -->
<div style="" class="hideHead"></div>
<div class="banner" style=""></div>
<div class="banner-bot">
    <div class="container">
        <h3>扫描二维码进入微信小程序或微信搜索游戏代打练上分</h3>
        <p>找代练，做代练，安全可靠价格实惠，就找代练世界</p>
        <img src="/images/pc/wxcodemini.jpg" alt="代练世界微信公众号二维码"></img>
    </div>
</div>
<!-- Gallery Starts Here -->
<div class="gallery">
    <div class="container">
        <h3>服务游戏</h3>
        <div class="gallery-top">
            <div id="portfoliolist">
                <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper">
                        <a href="/" title="绝地求生刺激战场_代练-代练世界" class="b-link-stripe b-animate-go  thickbox">
                            <img src="/images/pc/jdqs.jpg" alt="绝地求生刺激战场_代练-代练世界"/>
                            <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper">
                        <a href="/" title="王者荣耀_代练-代练世界" class="b-link-stripe b-animate-go  thickbox">
                            <img src="/images/pc/wzry2.jpg" alt="王者荣耀_代练-代练世界"/>
                            <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper">
                        <a href="/" title="球球大作战_代练-代练世界" class="b-link-stripe b-animate-go  thickbox">
                            <img src="/images/pc/qqdzz.jpg" alt="球球大作战_代练-代练世界"/>
                            <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="portfolio logos mix_all" data-cat="logo" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper">
                        <a href="/" title="英雄联盟lol_代练-代练世界" class="b-link-stripe b-animate-go  thickbox">
                            <img src="/images/pc/lol.jpg" alt="英雄联盟lol_代练-代练世界"/>
                            <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
                    <div class="portfolio-wrapper">
                        <a href="/" title="地下城与勇士dnf_代练-代练世界" class="b-link-stripe b-animate-go  thickbox">
                            <img src="/images/pc/dnf.jpg" alt="地下城与勇士dnf_代练-代练世界"/>
                            <div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 "></h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- Gallery Ends Here -->
<!-- Footer Starts Here -->
<div class="footer">
    <div class="container">
        <p>Copyright © 2018  静大集团dailianshijie.com 版权所有    <a href="http://www.miitbeian.gov.cn/" style="display: block;">京ICP备18021316号-1</a>
        </p>
    </div>

</div>
<!-- Footer Ends Here -->
</body>
</html>