<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="pc/common/common :: commonHeader(~{::title},~{::link},~{::script})">
    <title>平台介绍 - 代练世界</title>
    <link href="/css/pc/sepcification.css" rel="stylesheet"/>
    <script src="/js/pc/specification.js"></script>
</head>
<script>

</script>

<body>
<!-- Header Starts Here -->
<div th:replace="pc/common/common::commonNav"></div>
<!-- Header Ends Here -->
<div>
    <div class="span3">
        <ul class="nav nav-list affix sidebar_new">
            <li id="navig" style="left: 8%;">
                导航
            </li>
            <li>
                <a href="#one">一、名词解释</a>
            </li>

            <li>
                <a href="#two">二、支付规则</a>
            </li>
            <li>
                <a href="#three">三、信誉分获取和扣除规则</a>
            </li>
            <li>
                <a href="#four">四、平台手续费规则</a>
            </li>
            <li>
                <a href="#five">五、常见问题</a>
            </li>
        </ul>
    </div>
    <div class="right-bar" style="z-index: -1;top: 130px;">
        <h2>
            <a name='one' style='position:relative; top:-200px;'>&nbsp;</a>
            一、名词解释</h2>
        <div class="answer">
            <div class="title2">
                <h3>玩家:</h3>
                <span>需要帮忙上分的游戏玩家用户，可以点击“发布”菜单发布自己的需求单。</span>
            </div>
            <div class="title2">
                <h3>代练/代打:</h3>
                <span>帮忙玩家完成需求单的用户，可以点击“悬赏单”菜单展示需求单列表进行接单。</span>
            </div>
            <div class="title2">
                <h3>平台:</h3>
                <span>本平台提供的所有服务平台统称为平台。</span>
            </div>
            <div class="title2">
                <h3>发单（发需求单）:</h3>
                <span>玩家发布需求单,可以在平台首页点击“发布”菜单发布自己的需求单。</span>
            </div>
            <div class="title2">
                <h3>接单:</h3>
                <span>代练接受需求。可以在平台首页点击“悬赏单”菜单展示需求单列表进行接单。</span>
            </div>
            <div class="title2">
                <h3>结单:</h3>
                <span>代练在完成单子后再平台我的接单详情里点击结单按钮，单子进入平台审核流程，等待结算。</span>
            </div>
            <div class="title2">
                <h3>期望周期:</h3>
                <span>玩家发布需求单时，指定的自然天数，不包含因游戏系统更新等非人为原因可控的时间；非人为原因的时间平台会相应对需求单延期对应时间。（单位：天）</span>
            </div>
            <div class="title2">
                <h3>赏金:</h3>
                <span>玩家发布需求单时，指定的此需求单如果正常完成奖励给代练的金额。（单位：元）</span>
            </div>
            <div class="title2">
                <h3>信誉金:</h3>
                <span>玩家发布需求单时，指定的此需求单对自己和代练的信任押金的金额。（单位：元）；如果代练打坏单或者其他恶劣行为或者玩家阻碍代练正常打单等行为，平台
    将终止此需求单并扣除信誉金给对方补偿。具体可看《二、支付规则》中的结算栏目。PS:平台对违约行为打击很大。</span>
            </div>
            <div class="title2">
                <h3>逾期金:</h3>
                <span>玩家发布需求单时，指定的此需求单如果代练逾期需要赔偿给玩家的金额。（单位：元）</span>
            </div>
            <div class="title2">
                <h3>信誉分:</h3>
                <span>对应玩家和代练用户设立的信誉分，初始化为100分；此分代表用户的可信任度，且此分涉及到代练用户的平台手续费的高低。详见《四、平台手续费规则》。</span>
            </div>
            <div class="title2">
                <h3>余额:</h3>
                <span>玩家和代练在本平台的余额。（单位：元）</span>
            </div>
        </div>
        <h2><a name='two' style='position:relative; top:-200px;'>&nbsp;</a>
            二、支付规则</h2>
        <div class="answer">
            <div class="title2">
                <h3>发布:</h3>
                <span>玩家用户发布需求单时只需要支付赏金+信誉金即可，单子正常结算后信誉金会全额退还至玩家余额中。</span>
            </div>
            <div class="title2">
                <h3>接单:</h3>
                <span>代练用户只需要支付对应单子的信誉金+逾期金，单子正常结算后信誉金+逾期金以及相应赏金会全额返还至代练余额中。</span>
            </div>
            <div class="title2">
                <h3>正常结算:</h3>
                <span>平台审核代练的结单，如果没有逾期和违约会进入正常结算流程。包含：
        1.玩家信誉金全额退回玩家余额中；
        2.代练应得赏金（玩家赏金-平台手续费）的金额转入代练余额中；
        3.代练信誉金全额退回代练余额中；
        4.代练逾期金全额退回代练余额中。
    </span>
            </div>
            <div class="title2">
                <h3>逾期结算:</h3>
                <span>平台审核代练的结单，如果此单已逾期且无违约行为会进入逾期结算流程。包含：
        1.玩家信誉金全额退回玩家余额中；
        2.玩家赏金全额退回玩家余额中；
        3.代练逾期金全额补偿给玩家用户，转入玩家余额中；
        4.代练信任金全额退回代练余额中。
    </span>
            </div>
            <div class="title2">
                <h3>玩家违约结算:</h3>
                <span>平台审核代练的结单，如果此单玩家出现违约行为，比如代练发现玩家恶意更改账号密码或其他恶意影响打单效率行为，可在
        个人中心--反馈中举报玩家违约行为。平台审核认定为玩家违约后进入玩家违约结算流程。包含：
        1.玩家的信誉金全额补偿给代练，转入代练余额中；
        2.代练的信誉金全额退回代练余额中；
        3.代练逾期金全额退回代练余额中；
        4.玩家赏金平台扣除。
    </span>
            </div>
            <div class="title2">
                <h3>代练违约结算:</h3>
                <span>平台审核代练的结单，如果此单代练出现违约行为，比如到时间后还未主动结单或打坏了单子等行为，平台在审核时认定
    代练违约后进入代练违约结算流程。包含：
        1.代练的信誉金补偿给玩家，转入玩家余额中；
        2.玩家赏金全额退回玩家余额中；
        3.玩家信誉金全额退回玩家余额中；
        4.代练逾期金平台扣除。
    </span>
            </div>
            <div class="title2">
                <h3>提现:</h3>
                <span>用户把平台的余额提现至所填写的账号中，由于微信支付平台原因，本平台将代微信支付扣除提现手续费1%，本平台提现走线下转账，请用户一定要正确填写账号信息。</span>
            </div>
        </div>
        <h2><a name='three' style='position:relative; top:-200px;'>&nbsp;</a>
            三、信誉分获取和扣除规则</h2>
        <div class="answer">
            <div class="title2">
                <h3>获取途径:</h3>
                <span>
        1.玩家发布单支付成功，增加信誉分=N*赏金 N=0.1；
        2.代练接单成功，增加信誉分=N*赏金 N=0.1；
        3.用户充值成功，增加信誉分=N*赏金 N=0.2；
        4.单子正常结算，玩家和代练都增加信誉分=N*赏金 N=0.1；
    </span>
            </div>
            <div class="title2">
                <h3>扣除途径:</h3>
                <span>
        1.代练逾期，扣减信誉分=N*逾期天数 N=20;
        2.违约行为，扣减信誉分=平台根据实际情况扣减，最少20；PS：平台对违约行为打击很大
                    3.提现行为，扣减信誉分=N*次数 N=10
    </span>
            </div>
        </div>
        <h2><a name='four' style='position:relative; top:-200px;'>&nbsp;</a>
            四、平台手续费规则</h2>
        <div class="answer">
            <div class="title2">
<span>注：平台不收取玩家任何手续费，只收取代练用户小额手续费;
平台手续费=赏金*M*N 最小2元
赏金计算规则M和信誉分计算规则N。具体如下：</span>
                <h3>赏金计算规则:</h3>
                <span>赏金计算规则
        1.赏金金额40元以下，手续费2元
        2.赏金金额40至100元，手续费收取赏金金额的5%
        3.赏金金额100至400元，手续费收取赏金金额的4%
        4.赏金金额400元以上，手续费收取赏金金额的3%
    </span>
            </div>
            <div class="title2">
                <h3>信誉分计算规则:</h3>
                <span>
        1.代练信誉分50以下，账号将实施冻结；
        2.代练信誉分50至80，折扣150%；
        3.代练信誉分80至100，折扣120%；
        4.代练信誉分100至150，折扣100%；
        5.代练信誉分150至200，折扣95%；
        6.代练信誉分2000至500，折扣90%；
        7.代练信誉分500以上，折扣85%；
    </span>
                <span>
举个栗子：需求单A 赏金200元，代练信誉分160分，根据以上规则200元属于赏金计算规则的第3条M=4%，信誉分计算规则属于第五条N=95%;
故平台手续费=赏金*M*N=200*4%*95%=7.6元。
</span>
            </div>
        </div>
        <h2><a name='five' style='position:relative; top:-200px;'>&nbsp;</a>
            五、常见问题</h2>
        <div class="answer">
            <div class="title2"><h3>1.我可以是玩家又是代练吗（可以发单又可以接单吗）？:</h3>
                <span>可以，只要遵守相应角色的规则即可。</span>
            </div>
        </div>
        <br/>
        <br/>
        <!-- End of Cards_Wrap Main --> </div>
</div>
</body>
</html>