<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="htmlFontSize">
<head th:replace="pc/common/common :: commonHeader(~{::title},~{::link},~{::script})">
    <title>成功案例 - 代练世界</title>
    <link href="/css/pc/succCase.css" rel="stylesheet"/>
    <script src="/js/common/iscroll.js"></script>
    <script src="/js/pc/succCase.js"></script>
</head>
<body>
<!-- Header Starts Here -->
<div th:replace="pc/common/common::commonNav"></div>
<!-- Header Ends Here -->
<div style="" class="hideHead"></div>
<div class="container">
    <div class="">
        <ul class="succpath-list">
            <li><a href="/" title="首页_代练_英雄联盟_lol_王者荣耀_绝地求生_刺激战场-代练世界">首页</a></li>
            &nbsp;&nbsp;/&nbsp;&nbsp;
            <li class="act">成功案例</li>
        </ul>
    </div>
    <div id="wrapper" class="wrapperH5 container">
        <div id="scroller" style="">
            <ul>
                <a  th:each="items:${datas}" th:href="'/showSuccCaseDetail/'+${items.orderNo}" th:title="${items.gameTypeStr+'代练单详情_成功案例_代练-代练世界'}">
                    <li>
                        <section>
                            <h3 th:text="${items.gameTypeStr+'代练单'}">王者荣耀代理单</h3>
                            <div class="c">
                                <img  th:if="${items.gameType==0}" src="/images/lol.jpg" alt="英雄联盟lol_代练-代练世界" th:alt="${items.orderDesc}"/>
                                <img  th:if="${items.gameType==1}" src="/images/wzry1.jpg" alt="王者荣耀_代练-代练世界" th:alt="${items.orderDesc}"/>
                                <img  th:if="${items.gameType==2}" src="/images/JDQS.jpg" alt="绝地求生刺激战场_代练-代练世界" th:alt="${items.orderDesc}"/>
                                <div class="content">
                                    <p>
                                        <span th:text="${items.gameTypeStr+' '+items.gameDistrictStr}">王者荣耀 比尔吉沃特</span>
                                        <span th:text="${'赏金 '+items.rewardAmount}+'¥ '">赏金 8888Y</span>
                                    </p>
                                    <span class="desc" th:text="${items.orderDesc}">八九</span>
                                </div>
                            </div>
                        </section>
                    </li>
                </a>
            </ul>
            <div class="more" id="more"><i class="pull_icon"></i><span>上拉加载...</span></div>
            <a  class="more" id="morePc" th:title="'成功案例_第'+${nextPageNo}+'页_代练_英雄联盟_lol_王者荣耀_绝地求生_刺激战场-代练世界'" th:href="${nextPageNo}==null?'###':'/showSuccCase/'+${nextPageNo}"><i class=""></i><span>点击加载更多</span></a>
        </div>
    </div>
</div>
</div>
</body>
</html>