<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>
    <!-- 发送模板消息线程池 -->
    <bean id="poolExecutorSendMsg" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!-- 初始化线程数 -->
        <property name="corePoolSize" value="5" />
        <!-- 允许的空闲时间 -->
         <property name="keepAliveSeconds" value="200" />
        <!-- 最大线程数 -->
        <property name="maxPoolSize" value="20" />
        <!-- 队列大小 -->
        <property name="queueCapacity" value="100" />
    </bean>

    <bean id="getPrizeSuccObserver" class="org.egg.observer.subjects.CommonObserver">
        <constructor-arg>
            <list>
                <ref bean="prizeDbObserver"/>
                <ref bean="prizeSendObserver"/>
                <ref bean="prizeMsgObserver"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="payRecordStatusUpdateObserver" class="org.egg.observer.subjects.CommonObserver">
        <constructor-arg>
            <list>
                <ref bean="paySuccLoadFactorObserver"/>
                <ref bean="paySuccScoreObserver"/>
                <ref bean="paySuccMemberObserver"/>
            </list>
        </constructor-arg>
    </bean>

    <!-- Enables the Spring Task @Scheduled programming model -->
    <!--<task:executor id="executor" pool-size="5"/>-->
    <!--<task:scheduler id="scheduler" pool-size="10"/>-->
    <!--<task:annotation-driven executor="executor" scheduler="scheduler"/>-->
</beans>