body {
    font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
    background: #eeeeee;
    background-image: url("/images/back.jpg");
    /*background-image: url("../static/images\\back2.jpg");*/
}

.progress_back {
    /*height: 5rem;*/
    background: #fff;
    margin: 1rem;
    border-radius: 7px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.progress {
    position: relative;
    width: 90%;
    margin-top: 3rem ;
    margin-bottom:1rem;
    /* top: 3rem; */
    /* left: 5%; */
    /*height: 20px;*/
    background: #ebebeb;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-radius: 10px;
}

body, div, span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.progress > span {
    display: inline-block;
    position: relative;
    float: left;
    margin: 0 -1px;
    min-width: 30px;
    height: 18px;
    line-height: 16px;
    text-align: right;
    background: #cccccc;
    border: 1px solid;
    border-color: #bfbfbf #b3b3b3 #9e9e9e;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #dbdbdb 70%, #cccccc 100%);
    background-image: -moz-linear-gradient(top, #f0f0f0 0%, #dbdbdb 70%, #cccccc 100%);
    background-image: -o-linear-gradient(top, #f0f0f0 0%, #dbdbdb 70%, #cccccc 100%);
    background-image: linear-gradient(to bottom, #f0f0f0 0%, #dbdbdb 70%, #cccccc 100%);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.progress > span:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 18px;
    background: url(https://www.html5tricks.com/demo/5-progress-bars/img/progress.png) 0 0 repeat-x;
    border-radius: 10px;
}

.progress .color {
    /*background: #85c440;*/
    /*border-color: #78b337 #6ba031 #568128;*/
    /*background-image: -webkit-linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);*/
    /*background-image: -moz-linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);*/
    /*background-image: -o-linear-gradient(top, #b7dc8e 0%, #99ce5f 70%, #85c440 100%);*/
    background-image: linear-gradient(45deg, rgba(75, 192, 200, 1), rgba(199, 121, 208, 1), rgba(254, 172, 94, 1), rgb(245, 45, 24));
}

.progress > span > span {
    padding: 0 8px;
    font-size: 10px;
    font-weight: bold;
    color: #404040;
    color: rgba(0, 0, 0, 0.7);
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}

.rp88 {
    position: absolute;
    left: 37%;
    bottom: 1rem;
}

.rp88 img, .rp888 img {
    width: 2rem;
    height: 2rem;
}

.rp88 div:after, .rp888 div:after {
    border: 1px #d81e05 solid;
    content: '';
    right: -1rem;
    position: relative;
    bottom: 0.5rem;
}

.rp888 {

    position: absolute;
    left: 85%;
    bottom: 1rem;
    /*right: -4rem;*/
    /*bottom: -10px;*/
}

/*.rp888 img {*/
/*width: 3rem;*/
/*height: 3rem;*/
/*}*/
.section {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1rem;
    background: #ffffff;
    border-radius: 7px;
}

.section h3 {
    color: #000;
}

.section ul {
    color: #aaa;
    font-size: .75rem;
    margin: 0;
    padding: 0 1rem 1rem;
}

ul li {
    list-style-type: none;
    padding:3px 0;
}

ul li span {
    color: orange;
}

.button {
    padding: .5rem 1rem;
    background: #ff3b17;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 28px;
    text-align: center;
    width: 10rem;
    box-shadow: 0px 10px 5px #aaaaaa;
    margin: 1rem 0;
}

.userList {
    display: flex;
    justify-content: space-around;
    padding: .5rem 1rem;
    flex-wrap: wrap;

}

.userList .item {

    display: flex;
    flex-flow: column;
    align-items: center;
    padding:0.5rem 0.5rem;
}

.userList .item img {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

.userList .item .score {
    font-size: 1.25rem;
    font-weight: 700;
    color: #ff3b17;
}

.userList .item .nickName {
    color: #915200;

}

.teamName {

}

.orderT {
    display: flex;
    padding: 0.5rem 1rem 1rem 0;
    justify-content: space-around;
}

.orderNoTitle {
    padding: 0 1rem;
    width: 10rem;
    text-align: center;
}

.orderNo {
    color: orange;
    font-weight: 700;
    padding: 0 1rem;
    width: 10rem;
    text-align: center;
}

.price {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom:1rem;
}

.price .i1 {
    width: 80%;
}

.price .i2 {
    position: relative;
    /*top: -7rem;*/
    width: 70%;
}

.title {
    display: flex;
    position: relative;
    /*width : 40%;*/
    height: 2rem;
    align-items: center;
    justify-content: center;
    margin: .5rem 1rem;
    font-weight: 700;
    color: orange;
    border: 1px solid #fff;
    border-top: 1px;
    border-radius: 0px 0 14px 14px;
    margin-top: 0;
    background: red;
    padding:0 1rem;

}
.center {
    display: flex;
    flex-flow: column;
    align-items:center;
}

.teamInput {
    width: 70%;
    border: 0;
    border-bottom: 1px solid #aaa;
    height:2rem;
}
.ruleBlank {
    width: 100%;
    height:15%;
}
.error{
    top: 40%;
    position: fixed;
    display: flex;
    width: 80%;
    left: 10%;
    box-sizing: border-box;
    flex-flow: column;
    align-items: center;
    padding: 1rem;
    background: #fff;
    z-index: 999;
    border-radius: 7px;
}
.error .btn{
    margin-top:1rem;
    padding:0.5rem 1rem;
    background: red;
    color: #fff;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;;
}
.mask{
    display: flex;
    position: fixed;
    top:0;
    bottom:0;
    background: gray;
    z-index: 1;
    width:100%;
    opacity: .7;
}
.error .content{
    padding:1rem 0;
}

.hide {
    display: none;
}