@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?1qtsac');
    src:    url('../fonts/icomoon.eot?1qtsac#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1qtsac') format('truetype');
    /*url('../fonts/icomoon.woff?1qtsac') format('woff'),*/
    /*url('../fonts/icomoon.svg?1qtsac#icomoon') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-circle-checked:before {
    content: "\e965";
}
.icon-circle-unchecked:before {
    content: "\e966";
}
.icon-privatePro:before {
    content: "\e964";
}
.icon-appointment:before {
    content: "\e95f";
}
.icon-commission:before {
    content: "\e960";
}
.icon-contract:before {
    content: "\e961";
}
.icon-customer:before {
    content: "\e962";
}
.icon-product:before {
    content: "\e963";
}
.icon-tick:before {
    content: "\e95d";
}
.icon-ticked:before {
    content: "\e95e";
}
.icon-edit:before {
    content: "\e95c";
}
.icon-aboutus-nav:before {
    content: "\e958";
}
.icon-buy-nav:before {
    content: "\e959";
}
.icon-cat-nav:before {
    content: "\e95a";
}
.icon-invest-nav:before {
    content: "\e95b";
}
.icon-camper:before {
    content: "\e953";
}
.icon-custom:before {
    content: "\e954";
}
.icon-education:before {
    content: "\e955";
}
.icon-elder:before {
    content: "\e956";
}
.icon-invest:before {
    content: "\e957";
}
.icon-record:before {
    content: "\e952";
}
.icon-seckill:before {
    content: "\e951";
}
.icon-friends-recommended:before {
    content: "\e94e";
}
.icon-my-recommended:before {
    content: "\e94f";
}
.icon-time:before {
    content: "\e950";
}
.icon-activity2:before {
    content: "\e945";
}
.icon-convenient:before {
    content: "\e946";
}
.icon-current:before {
    content: "\e947";
}
.icon-fund:before {
    content: "\e948";
}
.icon-lottery:before {
    content: "\e949";
}
.icon-new-hand:before {
    content: "\e94a";
}
.icon-regular:before {
    content: "\e94b";
}
.icon-safe2:before {
    content: "\e94c";
}
.icon-travel:before {
    content: "\e94d";
}
.icon-notice2:before {
    content: "\e944";
}
.icon-aboutus:before {
    content: "\e900";
}
.icon-active:before {
    content: "\e901";
}
.icon-activity:before {
    content: "\e902";
}
.icon-add:before {
    content: "\e903";
}
.icon-aptitude:before {
    content: "\e904";
}
.icon-arrow-d:before {
    content: "\e905";
}
.icon-arrow-down:before {
    content: "\e906";
}
.icon-arrow-l:before {
    content: "\e907";
}
.icon-arrow-left:before {
    content: "\e908";
}
.icon-arrow-r:before {
    content: "\e909";
}
.icon-arrow-right:before {
    content: "\e90a";
}
.icon-arrow-u:before {
    content: "\e90b";
}
.icon-arrow-up:before {
    content: "\e90c";
}
.icon-bankcard:before {
    content: "\e90d";
}
.icon-bank-card:before {
    content: "\e90e";
}
.icon-beginner:before {
    content: "\e90f";
}
.icon-buy:before {
    content: "\e910";
}
.icon-cat:before {
    content: "\e911";
}
.icon-change:before {
    content: "\e912";
}
.icon-checked:before,.icon-checkbox:before {
    content: "\e913";
}
.icon-circle:before {
    content: "\e914";
}
.icon-codePhone:before {
    content: "\e915";
}
.icon-codeWeb:before {
    content: "\e916";
}
.icon-contact:before {
    content: "\e917";
}
.icon-cooperation:before {
    content: "\e918";
}
.icon-date:before {
    content: "\e919";
}
.icon-direction:before {
    content: "\e91a";
}
.icon-dot:before {
    content: "\e91b";
}
.icon-error:before {
    content: "\e91c";
}
.icon-error2:before {
    content: "\e91d";
}
.icon-errorBig:before {
    content: "\e91e";
}
.icon-events:before {
    content: "\e91f";
}
.icon-focus:before {
    content: "\e920";
}
.icon-give:before {
    content: "\e921";
}
.icon-hotel:before {
    content: "\e922";
}
.icon-id:before {
    content: "\e923";
}
.icon-info:before {
    content: "\e924";
}
.icon-item:before {
    content: "\e925";
}
.icon-look:before {
    content: "\e926";
}
.icon-mid-autumn:before {
    content: "\e927";
}
.icon-minus:before {
    content: "\e928";
}
.icon-name:before {
    content: "\e929";
}
.icon-notice:before {
    content: "\e92a";
}
.icon-pact:before {
    content: "\e92b";
}
.icon-password:before {
    content: "\e92c";
}
.icon-phone:before {
    content: "\e92d";
}
.icon-plus:before {
    content: "\e92e";
}
.icon-purse:before {
    content: "\e92f";
}
.icon-question:before {
    content: "\e930";
}
.icon-questionmark:before {
    content: "\e931";
}
.icon-questionmarked:before {
    content: "\e932";
}
.icon-restaurant:before {
    content: "\e933";
}
.icon-safe:before {
    content: "\e934";
}
.icon-search:before {
    content: "\e935";
}
.icon-service:before {
    content: "\e936";
}
.icon-set-up:before {
    content: "\e937";
}
.icon-star:before {
    content: "\e938";
}
.icon-team:before {
    content: "\e939";
}
.icon-tip:before {
    content: "\e93a";
}
.icon-tips:before {
    content: "\e93b";
}
.icon-ucenter:before {
    content: "\e93c";
}
.icon-unchecked:before,.icon-checkboxed:before {
    content: "\e93d";
}
.icon-unlook:before {
    content: "\e93e";
}
.icon-vip:before {
    content: "\e93f";
}
.icon-voucher:before {
    content: "\e940";
}
.icon-vouchers1:before {
    content: "\e941";
}
.icon-vouchers2:before {
    content: "\e942";
}
.icon-vouchers3:before {
    content: "\e943";
}

