<html xmlns:th="http://www.thymeleaf.org" >

<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
<link href="/css/active.css" rel="stylesheet"/>
<script type="text/javascript" src="/js/common/jquery.min.js"></script>
<script type="text/javascript" src="/js/activeMore.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>


<body>
<input type="hidden" th:value="${activeNo}" id="activeNo"/>
<div class="ruleBlank"></div>
<!--活动规则-->
<div class="section hide" id="a002">
    <span class="title">活动规则</span>
    <ul>
        <li>1.关注"蚂蚁科技服务器"公众号成功即可获取活动奖品。</li>
        <li>2.活动不止限定于扫描关注，微信搜索关注等方式，只要关注即可100%获奖。</li>
        <li>3.活动奖品包括但不限于（5元代金券，3元红包，1元红包，满5减一代金券，满1.01减1特高代金券）。</li>
        <li>4.此活动每人只可领取一次。奖品发放成功后会有通知，注意查收。赶紧分享给好友吧</li>
        <li>5.如有问题，联系客服。</li>
        <li>6.注意活动结束时间为2020年4月5日。</li>
        <li>7.活动最终解释权归本公司所有。</li>
    </ul>
    <!--<div  class="button " onclick="share()">分享给好友</div>-->
</div>
<div class="section hide" id="a003">
    <span class="title">活动规则</span>
    <ul>
        <li>1.活动期间在“快递代拿”小程序支付成功后即可获取礼品</li>
        <li>2.活动不止限定于扫描进入小程序，微信搜索进入小程序等方式，只要下单成功即可获奖。</li>
        <li>3.活动奖品包括但不限于（5元代金券，3元红包，1元红包，满5减一代金券，满1.01减1特高代金券）。</li>
        <li>4.此活动每人只可领取3次。支付成功后在微信支付有礼页点击领取即可获得奖品。赶紧分享给好友吧</li>
        <li>5.如有问题，联系客服。</li>
        <li>6.注意活动结束时间为2020年4月5日。</li>
        <li>7.活动最终解释权归本公司所有。</li>
    </ul>
</div>
</body>

</html>