<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no, viewport-fit=cover">
    <title>main</title>
    <script src="../static/js/common/commonJs.js"></script>
    <script src="../static/js/common/commonCss.js"></script>
    <script src="../static/js/main.js"></script>
    <link rel="stylesheet" href="../static/css/main.css"/>
</head>
<style>

</style>
<body>
<div class="main">
    <div class="personNoLogin ">点击登录</div>
    <div class="top-bg ">
    </div>
    <div class="top-person ">
        <div class="score">
            <div class="value">
                <span class="vv" id="score">0</span>
                <span class="unit">分</span>
            </div>
            <div class="desc">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-jifen"></use>
                </svg>
                <span>积分</span>
            </div>
        </div>
        <div class="head">
            <img id="headUrl" src="../static/images/defaultHead.jpg"/>
            <span id="nickName"></span>
        </div>
        <div class="gold">
            <div class="value">
                <span class="vv" id="gold">0.00</span>
                <span class="unit">豆</span>
            </div>
            <div class="desc">
                <svg class="icon" aria-hidden="true" color="yellow">
                    <use xlink:href="#icon-jindouyindou01"></use>
                </svg>
                <span>金豆</span>
            </div>
        </div>
    </div>
    <div class="buBlank"></div>
    <div class="menu">
        <div class="item">
            <svg class="maxIcon" aria-hidden="true" color="#ff3436">
                <use xlink:href="#icon-shangcheng1"></use>
            </svg>
            <span>积分商城</span>
        </div>
        <div class="item">
            <svg class="maxIcon" aria-hidden="true">
                <use xlink:href="#icon-zhuanpanshezhi" color="#7fb5f0"></use>
            </svg>
            <span>积分活动</span>
        </div>
        <div class="item">
            <svg class="maxIcon" aria-hidden="true" color="#ff1459">
                <use xlink:href="#icon-ljlq"></use>
            </svg>
            <span>领取积分</span>
        </div>
        <div class="item">
            <svg class="maxIcon" aria-hidden="true" color="#ffa106">
                <use xlink:href="#icon-kaitonghuiyuanyuan"></use>
            </svg>
            <span>开通会员</span>
        </div>
        <!--金豆-->
        <div class="item">
            <svg class="maxIcon" aria-hidden="true" color="#6389f3">
                <use xlink:href="#icon-shenghuodianmianduihuan"></use>
            </svg>
            <span>金豆兑换</span>
        </div>
        <div class="item">
            <svg class="maxIcon" aria-hidden="true" color="#fe393b">
                <use xlink:href="#icon-ai-hongbao"></use>
            </svg>
            <span>金豆活动</span>
        </div>
        <div class="item">
            <svg class="maxIcon" aria-hidden="true" color="#5dc20f">
                <use xlink:href="#icon-shangpin"></use>
            </svg>
            <span>金豆商品</span>
        </div>
        <div class="item">
            <svg class="maxIcon" aria-hidden="true" color="#f83d85">
                <use xlink:href="#icon-tixian1"></use>
            </svg>
            <span>金豆提现</span>
        </div>
    </div>
    <div class="explain">
        <div class="scoreExplain">
            <svg class="maxIcon" aria-hidden="true" color="#ffa106">
                <use xlink:href="#icon-kaitonghuiyuanyuan"></use>
            </svg>
            <span>开通会员</span>
        </div>
        <div class="goldExplain">
            <svg class="maxIcon" aria-hidden="true" color="#f83d85">
                <use xlink:href="#icon-tixian1"></use>
            </svg>
            <span>金豆提现</span>
        </div>
        <div class="scoreExplain">
            <svg class="maxIcon" aria-hidden="true" color="#fe393b">
                <use xlink:href="#icon-jifen"></use>
            </svg>
            <span>积分说明</span>
        </div>
        <div class="goldExplain">
            <svg class="maxIcon" aria-hidden="true" color="yellow">
                <use xlink:href="#icon-jindouyindou01"></use>
            </svg>
            <span>金豆说明</span>
        </div>
    </div>
    <div class="msg">
        <span class="title">历史记录</span>
        <ul>
            <li>
                <span class="time">2020-7-27 20:32:04</span>
                <span class="content">张三 兑换了30金豆</span>
            </li>
            <li>
                <span class="time">2020-7-27 20:32:04</span>
                <span class="content">张三 兑换了30金豆</span>
            </li>
            <li>
                <span class="time">2020-7-27 20:32:04</span>
                <span class="content">张三 兑换了30金豆</span>
            </li>
            <li>
                <span class="time">2020-7-27 20:32:04</span>
                <span class="content">张三 兑换了30金豆</span>
            </li>
            <li>
                <span class="time">2020-7-27 20:32:04</span>
                <span class="content">张三 兑换了30金豆</span>
            </li>
        </ul>
    </div>
</div>
</body>
</html>