<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.egg.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="org.egg.model.DO.Customer">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="customer_no" jdbcType="VARCHAR" property="customerNo" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="gold" jdbcType="DECIMAL" property="gold" />
    <result column="load_factor" jdbcType="DECIMAL" property="loadFactor" />
    <result column="wx_mini_open_id" jdbcType="VARCHAR" property="wxMiniOpenId" />
    <result column="zfb_open_id" jdbcType="VARCHAR" property="zfbOpenId" />
    <result column="wx_open_id" jdbcType="VARCHAR" property="wxOpenId" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="head_url" jdbcType="VARCHAR" property="headUrl" />
    <result column="customer_status" jdbcType="VARCHAR" property="customerStatus" />
    <result column="customer_type" jdbcType="VARCHAR" property="customerType" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="modified_date" jdbcType="TIMESTAMP" property="modifiedDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, customer_no, score, gold, load_factor, wx_mini_open_id, zfb_open_id, wx_open_id, 
    nick_name, head_url, customer_status, customer_type, created_date, modified_date
  </sql>
  <select id="selectByExample" parameterType="org.egg.model.DO.CustomerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from customer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from customer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.egg.model.DO.CustomerExample">
    delete from customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.egg.model.DO.Customer">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into customer (customer_no, score, gold, 
      load_factor, wx_mini_open_id, zfb_open_id, 
      wx_open_id, nick_name, head_url, 
      customer_status, customer_type, created_date, 
      modified_date)
    values (#{customerNo,jdbcType=VARCHAR}, #{score,jdbcType=DECIMAL}, #{gold,jdbcType=DECIMAL}, 
      #{loadFactor,jdbcType=DECIMAL}, #{wxMiniOpenId,jdbcType=VARCHAR}, #{zfbOpenId,jdbcType=VARCHAR}, 
      #{wxOpenId,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{headUrl,jdbcType=VARCHAR}, 
      #{customerStatus,jdbcType=VARCHAR}, #{customerType,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{modifiedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.egg.model.DO.Customer">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerNo != null">
        customer_no,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="gold != null">
        gold,
      </if>
      <if test="loadFactor != null">
        load_factor,
      </if>
      <if test="wxMiniOpenId != null">
        wx_mini_open_id,
      </if>
      <if test="zfbOpenId != null">
        zfb_open_id,
      </if>
      <if test="wxOpenId != null">
        wx_open_id,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="headUrl != null">
        head_url,
      </if>
      <if test="customerStatus != null">
        customer_status,
      </if>
      <if test="customerType != null">
        customer_type,
      </if>
      <if test="createdDate != null">
        created_date,
      </if>
      <if test="modifiedDate != null">
        modified_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerNo != null">
        #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="gold != null">
        #{gold,jdbcType=DECIMAL},
      </if>
      <if test="loadFactor != null">
        #{loadFactor,jdbcType=DECIMAL},
      </if>
      <if test="wxMiniOpenId != null">
        #{wxMiniOpenId,jdbcType=VARCHAR},
      </if>
      <if test="zfbOpenId != null">
        #{zfbOpenId,jdbcType=VARCHAR},
      </if>
      <if test="wxOpenId != null">
        #{wxOpenId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headUrl != null">
        #{headUrl,jdbcType=VARCHAR},
      </if>
      <if test="customerStatus != null">
        #{customerStatus,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.egg.model.DO.CustomerExample" resultType="java.lang.Integer">
    select count(*) from customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update customer
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.customerNo != null">
        customer_no = #{record.customerNo,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null">
        score = #{record.score,jdbcType=DECIMAL},
      </if>
      <if test="record.gold != null">
        gold = #{record.gold,jdbcType=DECIMAL},
      </if>
      <if test="record.loadFactor != null">
        load_factor = #{record.loadFactor,jdbcType=DECIMAL},
      </if>
      <if test="record.wxMiniOpenId != null">
        wx_mini_open_id = #{record.wxMiniOpenId,jdbcType=VARCHAR},
      </if>
      <if test="record.zfbOpenId != null">
        zfb_open_id = #{record.zfbOpenId,jdbcType=VARCHAR},
      </if>
      <if test="record.wxOpenId != null">
        wx_open_id = #{record.wxOpenId,jdbcType=VARCHAR},
      </if>
      <if test="record.nickName != null">
        nick_name = #{record.nickName,jdbcType=VARCHAR},
      </if>
      <if test="record.headUrl != null">
        head_url = #{record.headUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.customerStatus != null">
        customer_status = #{record.customerStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.customerType != null">
        customer_type = #{record.customerType,jdbcType=VARCHAR},
      </if>
      <if test="record.createdDate != null">
        created_date = #{record.createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedDate != null">
        modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update customer
    set id = #{record.id,jdbcType=BIGINT},
      customer_no = #{record.customerNo,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=DECIMAL},
      gold = #{record.gold,jdbcType=DECIMAL},
      load_factor = #{record.loadFactor,jdbcType=DECIMAL},
      wx_mini_open_id = #{record.wxMiniOpenId,jdbcType=VARCHAR},
      zfb_open_id = #{record.zfbOpenId,jdbcType=VARCHAR},
      wx_open_id = #{record.wxOpenId,jdbcType=VARCHAR},
      nick_name = #{record.nickName,jdbcType=VARCHAR},
      head_url = #{record.headUrl,jdbcType=VARCHAR},
      customer_status = #{record.customerStatus,jdbcType=VARCHAR},
      customer_type = #{record.customerType,jdbcType=VARCHAR},
      created_date = #{record.createdDate,jdbcType=TIMESTAMP},
      modified_date = #{record.modifiedDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.egg.model.DO.Customer">
    update customer
    <set>
      <if test="customerNo != null">
        customer_no = #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="gold != null">
        gold = #{gold,jdbcType=DECIMAL},
      </if>
      <if test="loadFactor != null">
        load_factor = #{loadFactor,jdbcType=DECIMAL},
      </if>
      <if test="wxMiniOpenId != null">
        wx_mini_open_id = #{wxMiniOpenId,jdbcType=VARCHAR},
      </if>
      <if test="zfbOpenId != null">
        zfb_open_id = #{zfbOpenId,jdbcType=VARCHAR},
      </if>
      <if test="wxOpenId != null">
        wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="headUrl != null">
        head_url = #{headUrl,jdbcType=VARCHAR},
      </if>
      <if test="customerStatus != null">
        customer_status = #{customerStatus,jdbcType=VARCHAR},
      </if>
      <if test="customerType != null">
        customer_type = #{customerType,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedDate != null">
        modified_date = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.egg.model.DO.Customer">
    update customer
    set customer_no = #{customerNo,jdbcType=VARCHAR},
      score = #{score,jdbcType=DECIMAL},
      gold = #{gold,jdbcType=DECIMAL},
      load_factor = #{loadFactor,jdbcType=DECIMAL},
      wx_mini_open_id = #{wxMiniOpenId,jdbcType=VARCHAR},
      zfb_open_id = #{zfbOpenId,jdbcType=VARCHAR},
      wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      head_url = #{headUrl,jdbcType=VARCHAR},
      customer_status = #{customerStatus,jdbcType=VARCHAR},
      customer_type = #{customerType,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      modified_date = #{modifiedDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>